page-policynumber {
    .toolbar-background {
        background-color: #043881;
        color: #ffffff !important;
    }
    .title {
        color: #ffffff !important;
        margin-top: 10px;
    }
    .toolbar-title-md  {
        color: #ffffff !important;
    }
    .rightarrow {
        float: right;
    }
    .logo {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .errorMsg {
        background: red;
        color: #ffffff;
    }
    .icon{
        position: relative;
        float: right;
    }
}
