page-lifedetails {
    .politem{
        font-size: 12px !important;
        margin-left: 0px;
    }
    .polstatus{
        text-align: center !important;
        color: green;
        font-size: 10px;
    }
}
