page-registration {
    .terms{
        text-transform: uppercase;
        color: blue;
        font-size: 12px;
        font-weight: bold;
    }
    .logo {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .regcontent {
        text-align: justify;
    }
    .content{
        text-align: justify;
    }
}
