<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle class="title"> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="color: #ffffff !important">MyRICB</ion-title>
    <ion-buttons right> 
      <button ion-button icon-only (click)="callPage()">
        <ion-icon  name="call"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-thumbnail item-start center>
    <img class="logo" src="assets/imgs/logo.png"/>
  </ion-thumbnail>
  <p></p>
  <ion-list class="registration">
    <form (submit)="loginValidate()" method="post" [formGroup]="registrationForm">
      
      <ion-item>
        <ion-label color="primary" floating text-center>CID / Passport Number</ion-label>
        <ion-input readonly="false" class="cidInput" ngControl="cidNo" type="number" [(ngModel)]="cidNo" formControlName="cidNo" round text-center></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label color="primary" floating text-center>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" formControlName="password" round text-center></ion-input>
      </ion-item>
      <p></p>
      <button ion-button block color="facebook" type="submit">
        <ion-icon name="unlock"></ion-icon>&nbsp;&nbsp;Login
      </button>

    </form>

    <button (click)="forgotPassword()" color="dark" ion-button clear class="alignRight">Forgot Password?</button>
    <button (click)="goToRegistrationPage()" color="dark" ion-button clear class="alignLeft">New User? Sign Up</button>

    <ion-slides *ngIf="adImage && adImage.length" class="ion-slide" autoplay="5000" loop="true" speed="500" pager="true">

        <ion-slide *ngFor="let adImageDTO of adImage">
          <img class="img-slide" src="http://apps.ricb.com.bt/san/add/{{adImageDTO.image}}" />
        </ion-slide>
      
      </ion-slides>
  </ion-list> 
</ion-content>
